.featuredRow-articles {
  padding: 50px 5px 5px 5px;
}

.featuredContainer-articles {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

.featuredRow-articles {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.featuredRowTitle-articles {
  text-align: center;
  font-size: 30px;
  padding: 5px;
}

.sellerGuideCol-articles {
  border-top: gainsboro solid 1px;
  padding-top: 10px;
}

.sellerGuideContainer-articles {
  margin-top: 10px;
}

@media (max-width: 767px) {
  .featuredContainer-articles {
    display: flex;
    flex-direction: column;
  }
}
