.carouselPic-articles{
    width:800px;
    height:600px;
    object-fit: cover;
    
}

.carouselRow-articles{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-top: 10%;
}




.carouselCaption-articles{
    background-color: white;
    color: black;
    margin-bottom: 20%;
}
