.carouselPic-articles{
    width:1400px;
    height:100%;
    
}

.carouselRow-articles{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

/* .carousel-articles{
    margin-top: 15%;
    margin-bottom: 20px;
    height: 30vh;
} */

