.subListTabMyProfile-MyShop {
  width: 100%;
  background-color: transparent;
  height: 20px;
  display: flex;
  align-items: center;
}

.subListTabMyShop-MyShop {
  width: 100%;
  background-color: #00ceaf;
  color: white;
  height: 20px;
  display: flex;
  align-items: center;
  border-bottom: #00ceaf 2px solid;
  border-left: #00ceaf 2px solid;
}
