.NewsTabList-articles{
    width: 100%;
    height: 25vh;
    
    margin-top: 30px;
}

.tabListImage-articles{
    width: 100%;
    height: 100%;

}


.tabListNewsTitle-articles{
    font-size: 30px;
}

.editorPickerContainer-articles{
    display: flex;
    flex-direction: row;
}

.guideListImage-articles{
    width: 80px;
    height: 80px;
}

.guideListTitle-articles{
    font-size: 12px;
    padding-left: 20px;
}