.profileContainer-profile{
    background-color: #ececec;
    padding: 2px;
    margin-top: 5%;
    border-radius: 10px;
}


.listTab-profile{
    width: 100%;
    background-color: transparent;
}


.subListTabMyProfile-profile{
    width: 100%;
    background-color: #00CEAF;
    color: white;
    height: 20px;
    display: flex;
    align-items: center;
    border-bottom: #00CEAF 2px solid;
    border-left: #00CEAF 2px solid;
}



.subListTabMyShop-profile{
    width: 100%;
    background-color: transparent;
    height: 20px;
    display: flex;
    align-items: center;
}


.blankAva-profile{
    width: 50%;
    height: 50%;
    margin: auto;
}

.rowAva-profile{
    padding: 20px;

    border-bottom: #c4b6b6 0.5px solid;
}

.listAva-profile{
    list-style-type: none;
    text-align: center;
    margin: auto;
    padding: 0;
    font-size: 15px;
}


.form-profile{
    margin-top: 15%;
}

.myShop-profile{
    margin-top: 10px;
    background-color: #ececec;
    padding:5px;
    border-radius: 10px;
}

.myShopTitle-profile{
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
}

.rowMyShop-profile{
    padding: 10px;
}

.colMyShop-profile{
    display: flex;
    flex-direction: row;
}

.addMoreItem-Profile{
    padding: 10px
}

.colAddMoreItem-profile{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.addMoreItemButton-profile{
    font-size: 50px;
    background-color: transparent;
    border: none;
    color:#0d7377;
}

.addMoreItemButton-profile:hover{
    font-size: 50px;
    background-color: transparent;
    border: none;
    color: #00CEAF ;
}

.saveChangeButton-profile{
    background-color: #00CEAF ;
    border: none;
    color: #212121;
}

.saveChangeButton-profile:hover{
    background-color: #0d7377 ;
    border: none;
    color: #212121;
}