.card-img {
    width: 12em;
    max-height: 9em;
}
  
.card-class {
    width: 12em;
}
  
.search-card {
    width: 12em;
    transition: 0.15s;
}

// untuk css usahakan pakai class jangan pakai tag yg umum
// h4{
//     margin: 3em auto auto 3em;
// }